nodered/flows.json
[
    {
        "id": "tab_health",
        "type": "tab",
        "label": "监控与健康",
        "disabled": false,
        "info": "Watchdog 健康检查端点 + 全局 Catch"
    },
    {
        "id": "tab_orders",
        "type": "tab",
        "label": "订单派单",
        "disabled": false,
        "info": "订单状态机：CREATED→DISPATCHED→EXECUTING→COMPLETED→SAP_CONFIRMED"
    },
    {
        "id": "tab_outbox",
        "type": "tab",
        "label": "Outbox 与审计",
        "disabled": false,
        "info": "Outbox 双写 + 审计日志 + 死信队列 + SAP 确认轮询"
    },
    {
        "id": "tab_rescue",
        "type": "tab",
        "label": "急救与管理",
        "disabled": false,
        "info": "安全模式 / Zone Lock 管理 / Force Sync"
    },

    {"id":"glob_catch","type":"catch","z":"tab_health","name":"CATCH_GLOBAL","scope":null,"uncaught":true,"x":180,"y":80,"wires":[["glob_catch_debug"]]},
    {"id":"glob_catch_debug","type":"debug","z":"tab_health","name":"[CATCH] 全局异常","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":80,"wires":[]},

    {"id":"http_health","type":"http in","z":"tab_health","name":"GET /api/system-health","url":"/api/system-health","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["health_check"]]},
    {"id":"health_check","type":"function","z":"tab_health","name":"FN 健康检查","func":"const safeMode = global.get('safe_mode') || false;\nconst throttleMode = global.get('throttle_mode') || false;\n\n// 获取 checkpoint_ms (从 context 获取，SQLite Init 会在启动时写入参考值)\nconst checkpointMs = env.get('CHECKPOINT_MS') || 0;\n\nmsg.payload = {\n    status: 'healthy',\n    version: env.get('RUNTIME_VERSION') || 'v3.4',\n    safe_mode: safeMode,\n    throttle_mode: throttleMode,\n    checkpoint_ms: parseInt(checkpointMs),\n    uptime: process.uptime(),\n    timestamp: new Date().toISOString()\n};\n\n// 如果安全模式，返回 503\nif (safeMode) {\n    msg.statusCode = 503;\n    msg.payload.status = 'safe_mode';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["health_resp"]]},
    {"id":"health_resp","type":"http response","z":"tab_health","name":"200 OK","statusCode":"","headers":{},"x":560,"y":160,"wires":[]},

    {"id":"http_orders","type":"http in","z":"tab_orders","name":"POST /api/orders","url":"/api/orders","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["order_validate"]]},
    {"id":"order_validate","type":"function","z":"tab_orders","name":"FN 校验(拒收)","func":"const tid = msg.trace_id || msg._msgid || ('m' + Date.now());\nmsg.trace_id = tid;\n\nconst p = Array.isArray(msg.payload)\n    ? (msg.payload[0] != null ? msg.payload[0] : {})\n    : (msg.payload != null ? msg.payload : {});\n\n// 入库拒收校验 (010-nodered-core.mdc 第4条)\nif (!p.order_id || p.weight == null || p.weight <= 0 || !p.location) {\n    msg.statusCode = 400;\n    msg.payload = {\n        error: 'INVALID',\n        tid: tid,\n        details: 'order_id/weight(>0)/location required'\n    };\n    return msg;\n}\n\n// 安全模式检查\nconst safeMode = global.get('safe_mode');\nif (safeMode) {\n    msg.statusCode = 503;\n    msg.payload = {\n        error: 'SAFE_MODE',\n        tid: tid,\n        details: 'System in safe mode, order rejected'\n    };\n    return msg;\n}\n\nmsg._validated = {\n    order_id: p.order_id,\n    weight: p.weight,\n    location: p.location,\n    brand: p.brand || 'generic',\n    zone_id: p.zone_id || null,\n    priority: p.priority || 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["order_create"]]},
    {"id":"order_create","type":"function","z":"tab_orders","name":"FN 订单入库","func":"const v = msg._validated;\n\n// 分配 zone_token (区域锁)\nconst zoneToken = v.zone_id ? ('zt_' + Date.now() + '_' + Math.random().toString(36).substr(2, 8)) : null;\n\nmsg.payload = {\n    order_no: v.order_id,\n    status: 'CREATED',\n    weight: v.weight,\n    location: v.location,\n    zone_id: v.zone_id,\n    zone_token: zoneToken,\n    brand: v.brand,\n    priority: v.priority,\n    created_at: new Date().toISOString(),\n    version: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["order_outbox_pending"]]},
    {"id":"order_outbox_pending","type":"function","z":"tab_orders","name":"FN Outbox CREATED","func":"// Outbox 写入: audit_log + orders (010-nodered-core.mdc 第3条)\nconst order = msg.payload;\n\n// 写入 audit_log\nmsg.audit_event = {\n    event: 'ORDER_CREATED',\n    order_no: order.order_no,\n    status: 'CREATED',\n    timestamp: new Date().toISOString(),\n    trace_id: msg.trace_id\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":80,"wires":[["order_dispatch"]]},
    {"id":"order_dispatch","type":"function","z":"tab_orders","name":"SW 品牌派单","func":"const order = msg.payload;\n\n// 品牌路由策略 (v3.4 策略模式)\nconst brand = order.brand || 'generic';\n\n// 电量检查 (模拟，生产环境从 robot_status 表读取)\n// 电量 < 20% 限制短单\n\nmsg.next_status = 'DISPATCHED';\nmsg.current_status = 'CREATED';\n\n// 状态机校验 (050-state-machine.mdc)\nconst ok = {\n    CREATED: ['DISPATCHED','CANCELLED'],\n    DISPATCHED: ['EXECUTING','SUSPENDED','RECALLING','CANCELLED'],\n    EXECUTING: ['COMPLETED','DIFF_SUSPENDED','SUSPENDED'],\n    COMPLETED: ['SAP_CONFIRMED','SAP_PENDING'],\n    SUSPENDED: ['DISPATCHED','MANUAL_HANDLED','CANCELLED','DEGRADED'],\n    DIFF_SUSPENDED: ['COMPLETED','MANUAL_HANDLED','SUSPENDED'],\n    RECALLING: ['CANCELLED'],\n    SAP_PENDING: ['SAP_CONFIRMED','SUSPENDED']\n};\n\nconst A = msg.current_status;\nconst B = msg.next_status;\n\nif (A && B && ok[A] && ok[A].indexOf(B) === -1) {\n    msg.statusCode = 409;\n    msg.payload = { error: 'BAD_STATE', A: A, B: B, tid: msg.trace_id };\n    return msg;\n}\n\nmsg.payload.status = 'DISPATCHED';\nmsg.payload.updated_at = new Date().toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":80,"wires":[["order_http_200"]]},
    {"id":"order_http_200","type":"http response","z":"tab_orders","name":"202 Accepted","statusCode":"202","headers":{"content-type":"application/json"},"x":1120,"y":80,"wires":[]},

    {"id":"http_rescue","type":"http in","z":"tab_rescue","name":"POST /api/safe-mode","url":"/api/safe-mode","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["safe_mode_enter"]]},
    {"id":"safe_mode_enter","type":"function","z":"tab_rescue","name":"FN 进入安全模式","func":"// 由 Watchdog 或主管手动触发\nglobal.set('safe_mode', true);\n\nmsg.payload = {\n    status: 'SAFE_MODE_ENTERED',\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["safe_mode_resp"]]},
    {"id":"safe_mode_resp","type":"http response","z":"tab_rescue","name":"200 OK","statusCode":"200","headers":{},"x":560,"y":80,"wires":[]},

    {"id":"http_restore","type":"http in","z":"tab_rescue","name":"POST /api/restore-mode","url":"/api/restore-mode","method":"post","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["safe_mode_exit"]]},
    {"id":"safe_mode_exit","type":"function","z":"tab_rescue","name":"FN 退出安全模式","func":"global.set('safe_mode', false);\n\nmsg.payload = {\n    status: 'SAFE_MODE_EXITED',\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["restore_resp"]]},
    {"id":"restore_resp","type":"http response","z":"tab_rescue","name":"200 OK","statusCode":"200","headers":{},"x":560,"y":140,"wires":[]},

    {"id":"safe_mode_check","type":"inject","z":"tab_rescue","name":"INJ 轮询安全模式(10s)","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":10,"x":180,"y":220,"wires":[["safe_mode_poll"]]},
    {"id":"safe_mode_poll","type":"function","z":"tab_rescue","name":"FN 读取 Redis safe_mode","func":"// 从 Redis 读取系统安全模式标志\n// Watchdog 写入 system:safe_mode 时自动进入安全模式\n// 生产环境: 使用 contextStorage.redis 读取\n\n// 模拟: 检查 context (Redis context 启用后自动同步)\nconst redisSafeMode = env.get('REDIS_SAFE_MODE');\n\nif (redisSafeMode) {\n    global.set('safe_mode', true);\n    node.warn('[WATCHDOG] 安全模式已由 Watchdog 激活: ' + redisSafeMode);\n} else {\n    // 不自动解除，需人工 /api/restore-mode\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[[]]},

    {"id":"zone_lock_http","type":"http in","z":"tab_rescue","name":"GET /api/zone_lock","url":"/api/zone_lock","method":"get","upload":false,"swaggerDoc":"","x":180,"y":300,"wires":[["zone_lock_query"]]},
    {"id":"zone_lock_query","type":"function","z":"tab_rescue","name":"FN 查询区域锁","func":"// 返回当前区域锁状态\n// 生产环境从 SQLite zone_lock 表读取\n\nmsg.payload = {\n    zones: global.get('zone_locks') || {},\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["zone_lock_resp"]]},
    {"id":"zone_lock_resp","type":"http response","z":"tab_rescue","name":"200 OK","statusCode":"200","headers":{},"x":560,"y":300,"wires":[]}
]
